body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  line-height: 1.6;
 background-color: rgb(88, 88, 88);}

header{ 
	
	height:20%;
	display:flex;
	align-items:center;
	justify-content:center;
	flex-direction:column;
	background:linear-gradient(black,rgb(88, 88, 88));
}

nav {
  background-color: #dfe6ed;
  padding: 10px 20px;
  text-align: center;
}

nav a {
  color: #0a2f5c;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

main {
  padding: 100px;
}

article {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 1000px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
  font-size: 2.2em;
  color: white;
  text-align: center;
}

h2 {
  color: #0a2f5c;
  margin-top: 30px;
}

ul {
  list-style-type: square;
  margin-left: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th, td {
  border: 1px #bbb;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #0a2f5c;
  color: white;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-top: 10px;
}

footer {
  background:linear-gradient(rgb(88, 88, 88),black);
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}
.titre-zorin {
  font-family: 'Questrial', sans-serif; /* Remplace par 'Qwerties' si tu as cette police */
  font-size: 2.5em;
  margin: 0;
  color: white;
}

/* Changer la couleur sur mobile */
@media (max-width: 600px) {
  .titre-zorin {
    color: #66ccff; /* Bleu clair */
  }
}